/* roboto-300italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('../assets/fonts/roboto-v30-latin-300italic.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../assets/fonts/roboto-v30-latin-300italic.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../assets/fonts/roboto-v30-latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/roboto-v30-latin-500.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../assets/fonts/roboto-v30-latin-500.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/roboto-v30-latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../assets/fonts/roboto-v30-latin-700.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    height: 100%; /* Делаем стики-футер */
}

*,
:after,
:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #333333;
    display: flex; /* Делаем стики-футер */
    flex-direction: column; /* Делаем стики-футер */
    min-height: 100%; /* Делаем стики-футер */
}

.main {
    flex-grow: 1; /* Делаем стики-футер */
}

img {
    max-width: 100%;
}

.wrapper-full {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;

}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;

}

.grey__title {
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
}

.black-text {
    color: #333333;
    font-weight: 700;
}


/* Header styles start */

header {
    width: 100%;
    top: 0;
}

.header__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__list-item {
    list-style: none;
    margin-right: 60px;
}

.header__list-item:last-child {
    margin-right: 120px;
}

.header__nav-link {
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #333333;
    text-decoration: none;
}

.header__nav-link:hover,
.header__nav-link:active,
.header__nav-link:focus {
    opacity: 0.40;
}

.header__nav-link-title {
    padding: 4px 10px;
    border-top: solid 1.5px #333333;
    border-bottom: solid 1.5px #333333;
}


/* Header styles end */

/* Hero styles start */
.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}

.hero__title-first {
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
    margin: 0px;
}

.hero__title-second {
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #333333;
    margin: 0px;
}

.hero__image {
    position: relative;
}

.hero__link {
    width: 222px;
    height: 71px;
    display: flex;
    align-items: center;
    position: absolute;
    transform: translateY(-100%);
    background-color: white;


}

.hero__link-view-project {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
    background: url(../assets/images/icon-hero-link.svg) no-repeat 90% center;
    transition: .6s all;
    padding: 30px 42px 30px 22px;
}

.hero__link-view-project:hover,
.hero__link-view-project:focus {
    background: url(../assets/images/icon-hero-link.svg) no-repeat right center;
    opacity: .65;
}

/* Hero styles end */

/* About styles start */

.about__wrapper {
    margin-bottom: 150px;
}


.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FBFBFB;
    height: 435px;
}

.about__images-wrapper {
    width: 570px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image1 image2"
    "image3 image2";
    gap: 30px;
}

.about__images-wrapper img:nth-child(1) {
    margin-top: 30px;
    grid-area: image1;
}

.about__images-wrapper img:nth-child(2) {
    margin-top: 60px;
    grid-area: image2;
}

.about__images-wrapper img:nth-child(3) {
    grid-area: image3;
}

.about__content-wrapper {
    width: 400px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.about__title {
    margin: 0;
    margin-top: 30px;
}

.about__text {
    line-height: 25px;
    margin: 0;
    margin-top: 20px;
}

.about__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
    padding: 30px 68px 29px 35px;
    background-color: #ffffff;
    align-self: flex-start;
    margin-top: 50px;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.about__content-wrapper img {
    margin-left: 16px;
}

.about__link:hover,
.about__link:focus {
    opacity: .65;
}

.about__link img:hover {
    transition: .6s all;
}

/* About styles end */

/* Main-focus styles start */

.main-focus__wrapper {
    margin-bottom: 120px;
}

.main-focus__title {
    margin-bottom: 60px;
}

.main-focus__list li {
    display: flex;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
    align-items: center;
    gap: 30px;
}

.main-focus__list li:first-child {
    width: 413px;
}

.main-focus__list li:nth-child(2) {
    width: 570px;
}

.main-focus__list {
    list-style-type: none;
    /* Убираем исходные маркеры */
    counter-reset: my-counter;
    /* Задаём имя счетчика */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.main-focus__list li::before {
    content: counter(my-counter); /* Выводим число */
    counter-increment: my-counter; /* Увеличиваем значение счётчика */
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 234px;
    color: #F2F2F2;
    display: block;
}

@media (max-width: 1046px) {
    .about {
        height: 100%;
    }
}

/* Main-focus styles end */

/* Our-projects styles start */

.our-projects {
    margin-top: 120px;
    width: 100%;
}


.our-projects__title {
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
    margin-bottom: 30px;
}

.our-projects__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    object-fit: cover;
    height: 550px;
}
    
.our-projects__container__main {
    position: relative;
}

.our-projects__container__main__title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #FFFFFF;
    width: 64px;
    position: absolute;
    top: 120px;
    left: 60px;
    transform: translateY(-100%);
}

.our-projects__container__main__link {
    width: 221.81px;
    height: 71px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 60px;
    transform: translateY(-100%);
   
}

.our-projects__container__main__link-view-more {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    background: url(../assets/images/arrow-2-right-long.svg) no-repeat 90% center;
    transition: .6s all;
    padding: 30px 42px 30px 20px;
}

.our-projects__container__main__link-view-more:hover,
.our-projects__container__main__link-view-more:focus {
    background: url(../assets/images/arrow-2-right-long.svg) no-repeat right center;
    opacity: .65;
}


.our-projects__link {
    width: 221.81px;
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    background-color:  #333333;
    margin-top: 100px;
    margin-left: 81%;
}

.our-projects__link-all-projects {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    background: url(../assets/images/arrow-2-right-long.svg) no-repeat 90% center;
    transition: .6s all;
    padding: 30px 42px 30px 20px;
}

.our-projects__link-all-projects:hover,
.our-projects__link-all-projects:focus {
    background: url(../assets/images/arrow-2-right-long.svg) no-repeat right center;
    opacity: .65;
}

/* Our-projects styles end */

/* Contact-us styles start */

.contact-us {
margin-top: 100px;
}

.contact-us__title {
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
}

input {
   background-color: #F3F3F3;
   border: none;
   width: 35%;
   height: 50px;
   color: #BDBDBD;
   padding-left: 15px;
}

.contact-us__link {
    position: relative;
    width: 221.81px;
    height: 70px;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    background-color:  #333333; 
}

.contact-us__form-item-5 {
    height: 50px;
}

.contact-us__link-send-email {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    background: url(../assets/images/arrow-2-right-long.svg) no-repeat 90% center;
    transition: .6s all;
    padding: 30px 42px 30px 20px;
}

.contact-us__link-send-email:hover,
.contact-us__link-send-email:focus {
    background: url(../assets/images/arrow-2-right-long.svg) no-repeat right center;
    opacity: .65;
}

.contact-us__image-send-email {
    position: relative;
    left: 450px;
    bottom: 450px;
}

/* Contact-us styles end */


/* Footer styles start */

.footer {
    background-color: #2C2C2C;
    color: #F2F2F2;
    font-size: 14px;
    display: grid;
    grid-template-columns: 25% 20% 20% 35%;
    grid-template-rows: 80% 20%;
}

.footer__logo {
grid-column: 1 / 2;
grid-row: 1 / 2;
margin: 20% 20% 50% 20%; 
}

.info__subtitle, .social-media__subtitle, .contacts__subtitle {
    font-weight: 700;
}

/* Info Block */
.footer__info {
grid-column: 2 / 3;
grid-row: 1 / 2;
margin-top: 15%;
}

.info__list {
    padding-left: 0;
    padding-top: 5%;
}

.info__list-item {
    list-style-type: none;
    margin-bottom: 6%;
}

.info__list-item__link {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

/* Contacts Block */

.footer__contacts {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin-top: 15%;
}

.contacts__address {
    display: flex;
    padding-top: 5%;
}

.contacts__address__text, .contacts__phone__text, .contacts__email__text {
    margin: 0% 40% 15% 5%;
}

.contacts__address__icon {
    max-height: 16px;
    max-width: 11px;
}

.contacts__phone {
    display: flex;
}

.contacts__phone__icon {
    max-height: 17px;
    max-width: 16px;
}

.contacts__email {
    display: flex;
}

.contacts__email__icon {
    max-height: 11px;
    max-width: 16px;
}

/* Social-media Block */

.footer__social-media {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    margin-top: 8.5%;
    margin-right: 60%;
} 

.social-media__logos {
    display: flex;
    justify-content: space-between;
}

/* Address Block */

.footer__address {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    border-top: solid 1.5px #333333;
}

.address__text {
    color: rgba(200, 200, 200, 0.5);
    text-align: center;
}

/* Footer styles end */

/* Project-1 styles start */

.main-projects__title {
    margin: 0;
    padding: 0;
    display: block;
    width: 239px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.main-projects__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-projects__item {
    width: 1170px;
    display: flex;
}